body {
    background-image: url("img/wallpaper.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.my-container {
    display: flex;
    flex-flow: column;

    text-align: center;

    margin: 0 auto;
    margin-top: 70px;
    padding: 30px;

    background-color: #ffffff6c;

    .title {
        text-align: center;
        margin-bottom: 20px;

        color: rgba(0, 0, 0, 0.783);
    }

    .card-container{
        display: flex;
        flex-flow: row;
        gap: 50px;
    }


    .card{
        width:calc(100% / 4);
        background-color: #ffffff9c;
        transition: scale 0.2s ease-in;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.537);

        &:hover {
            scale: 1.1;
            cursor: pointer;
        }

        .original-price {
            color: red;
            text-decoration: line-through;
        }
    }
    }

    .my-img {
        margin: 10px auto;
        width: 200px;
        height: 200px;
    }

    .cat-category {
        color: rgba(197, 75, 75, 0.696);
    }

    .dog-category {
        color: rgba(87, 87, 214, 0.678);
    }


 
