body {
    background-image: url("img/wallpaper.jpeg");
    background-size: 100%;
}



.title {
    text-align: center;
    margin-top: 20px;

    color: white;
}


.my-container {
    display: flex;
    gap: 50px;

    text-align: center;

    margin: 0 auto;
    margin-top: 70px;
    padding: 30px;

    background-color: #ffffff6c;

    


    .card{
        background-color: #ffffff9c;
        transition: scale 0.2s ease-in;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.537);

        &:hover {
            scale: 1.1;
            cursor: pointer;
        }
    }

    .my-img {
        margin: 10px auto;
        width: 200px;
        height: 200px;
    }

    .cat-category {
        color: rgba(197, 75, 75, 0.696);
    }

    .dog-category {
        color: rgba(87, 87, 214, 0.678);
    }
}
